*.pyc
*.log
ngrok
*.xml
# don't include third-party dependencies.
!lib/README.md
Test.java
.DS_Store
lib/
results/
experiments/
notebooks/
temp/
.idea/
ideas/
notebooks/.ipynb_checkpoints
log/
model_data/
data/
conf.py
config
nohup.out
dump.rdb
*.out
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
load_test.py
*.class
!.idea/
out/
*.ipynb
*.iml
