*.pyc
*.log
ngrok
# don't include third-party dependencies.
!lib/README.md
Test.java
.DS_Store
google/
lib/
temp/
transcribe/
.idea/
ideas/
.ipynb_checkpoints
log/
model_data/
data/
conf.py
config
nohup.out
dump.rdb
*.out
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
load_test.py
!.idea/